@tailwind utilities;

@layer base {
	:root {  
		--neutral: #ffffff;
		--primary: #707070;
		--primary-deep: #0069f6;
		--primary-mild: #4996ff;
		--primary-subtle: #2a85ff1a;
		--error: #ff6a55;
		--error-subtle: #ff6a551a;
		--success: #10b981;
		--success-subtle: #05eb7624;
		--info: #2a85ff;
		--info-subtle: #2a85ff1a;
		--warning: #f59e0b;
		--warning-subtle: #ffd40045;
		--gray-50: #fafafa;
		--gray-100: #f5f5f5;
		--gray-200: #e5e5e5;
		--gray-300: #d4d4d4;
		--gray-400: #a3a3a3;
		--gray-500: #737373;
		--gray-600: #525252;
		--gray-700: #404040;
		--gray-800: #262626;
		--gray-900: #171717;
		--gray-950: #0a0a0a;
	}

	body {
		@apply text-[#E7F6FE] bg-[#040914];
		-webkit-font-smoothing: antialiased;
	}

	h1,
	.h1 {
		@apply text-4xl;
	}

	h2,
	.h2 {
		@apply text-3xl;
	}

	h3,
	.h3 {
		@apply text-2xl;
	}

	h4{
		@apply text-xl;
	}

	h5{
		@apply text-lg;
	}

	h6,
	.h6 {
		@apply text-base;
	}
	p{
		@apply text-[1rem] ; 
	}
}
